configuration {
	modi: "drun";
  font: "JetBrainsMono NFM 32";
	show-icons: true;
  icon-theme: "Qogir" ;

  timeout {
    action: "kb-cancel";
    delay:  0;
  }

  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

textbox-prompt-colon {
  str: " ";
}
prompt {
  enabled: false;
}
